.main {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.btnSettings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings {
    padding-right: 20px;
    border-right: solid 4px black;
}